---
import '../styles/normalize.css'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="a simple web with lightbox image gallery" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main class="container">
			<slot />
		</main>
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #e57e80;
		/* min-height: 100vh; */
		position: relative;
	}

	.container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		margin-right: auto;
		margin-left: auto;

		@media screen and (width >= 375px) {
			padding-left: 20px;
			padding-right: 20px;
		}

		@media screen and (width >= 640px) {
			max-width: 640px;
		}

		@media screen and (width >= 768px) {
			max-width: 768px;
		}

		@media screen and (width >= 1024px) {
			max-width: 1024px;
		}
		
		@media screen and (width >= 1440px) {
			max-width: 1440px;
			padding-left: 75px;
			padding-right: 75px;
		}
	}
</style>
